/* General Styling */
.navbar {
  background: white;
  color: #000000;
  padding: 1rem 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background 0.3s ease-in-out;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  color: #000000;
}

.navbar-logo a {
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #000000;
}

.navbar-logo a:hover {
  color: #11aea4;
}

.navbar-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.navbar-link {
  font-size: 1rem;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #398151;
}

/* Menu Icon for Mobile */
.navbar-menu-icon {
  display: none;
  cursor: pointer;
  color: #4bc7b0;
}

/* Dropdown Menu */
.navbar-links.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
 background-color: white;
  width: 100%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 1rem 0;
  animation: slideIn 0.3s ease;
  padding: 20px;
}

@keyframes slideIn {
  from {
    transform: translateY(-20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }

  .navbar-menu-icon {
    display: block;
  }
}
